<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
      <meta name="viewport"
            content="width=device-width,initial-scale=1.0">
      <link rel="icon"
            href="<%= BASE_URL %>favicon.ico">
      <link rel="stylesheet"
            href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
      <script defer
              src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
              integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
              crossorigin="anonymous"></script>
      <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css"
            rel="stylesheet" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css"
            integrity="sha512-uCQmAoax6aJTxC03VlH0uCEtE0iLi83TW1Qh6VezEZ5Y17rTrIE+8irz4H4ehM7Fbfbm8rb30OkxVkuwhXxrRg=="
            crossorigin="anonymous" />

      <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"
              integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww=="
              crossorigin="anonymous"></script>
      <noscript>
            <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript
                  enabled.
                  Please enable it to continue.</strong>
      </noscript>
      <div id="app"></div>
      <!-- built files will be auto injected -->
</body>

</html>
