<template>
  <div class="home">
    <app-hero></app-hero>
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from "@/components/Hero.vue";

export default {
  name: "Home",
  components: {
    appHero: Hero
  }
};
</script>

<style lang="scss">
</style>
