<template>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <b-field>
          <search-bar
            placeholder="Search..."
            type="search"
            icon="magnify"
            size="is-medium"
            icon-clickable
          ></search-bar>
        </b-field>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-three-fifths is-centered">
        <template v-if="searchResults && !searchResults.length">
          <p class="is-size-4">Unfortunately, we couldn't find what you were looking for</p>
        </template>
        <template v-if="showPlaceholderContent">
          <article class="box media" v-for="item in 5" :key="item.id">
            <div class="media-left">
              <b-skeleton height="141px" width="94"></b-skeleton>
            </div>
            <div class="media-content">
              <h2 class="title is-4">
                <b-skeleton width="32%" height="25px"></b-skeleton>
              </h2>
              <p class="subtitle has-text-weight-light is-6">
                <b-skeleton width="15%"></b-skeleton>
              </p>
              <p class="is-size-6">
                <b-skeleton height="100px"></b-skeleton>
              </p>
            </div>
            <span class="rating">
              <b-icon icon="star" size="is-small" type="is-warning"></b-icon>
              <b-skeleton width="20px" height="20px"></b-skeleton>
            </span>
          </article>
        </template>
        <article class="box media" v-for="result in searchResults" :key="result.id">
          <div class="media-left">
            <img
              class="poster"
              :src="
                result.poster_path
                  ? 'https://image.tmdb.org/t/p/w94_and_h141_bestv2' +
                    result.poster_path
                  : 'https://www.ira-sme.net/wp-content/themes/consultix/images/no-image-found-360x260.png'
              "
              width="94"
              height="141"
            />
          </div>
          <div class="media-content">
            {{console.log(result)}}
            <h2 class="title is-4">
              <a
                :href="result.media_type === 'movie' ? `/movie/${result.id}` : `/tv/${result.id}`"
              >{{ result.title || result.name }}</a>
            </h2>
            <p
              class="subtitle has-text-weight-light is-6"
            >{{ result.release_date || result.first_air_date }}</p>
            <p class="is-size-6">{{ result.overview }}</p>
          </div>
          <span class="rating">
            <b-icon icon="star" size="is-small" type="is-warning"></b-icon>
            <span class="is-size-6">{{ result.vote_average }}</span>
          </span>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import SearchBar from "@/components/SearchBar.vue";

export default {
  data() {
    return {
      showPlaceholderContent: true
    };
  },
  components: {
    searchBar: SearchBar
  },
  methods: {
    ...mapActions(["fetchSearchResults"])
  },
  computed: {
    ...mapGetters(["searchResults"]),
    console: () => console
  },
  mounted() {},
  watch: {
    searchResults() {
      this.showPlaceholderContent = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  margin-top: 1.7rem;
}

.columns {
  margin-top: 0.5rem;
}

.rating {
  display: inline-flex;
  align-items: center;

  & > span {
    margin-left: 2px;
  }
}

.poster {
  border-radius: 3px;
}
</style>
