<template>
  <section>
    <section class="hero is-black is-medium">
      <div class="hero-body" :style="hasBgImg" v-if="Object.keys(title).length">
        <div class="container">
          <div class="columns">
            <div class="column is-one-quarter">
              <img
                :src="
                  'https://image.tmdb.org/t/p/w300_and_h450_bestv2' +
                    title.poster_path
                "
              />
            </div>
            <div class="column">
              <div>
                <h1 class="title">
                  {{ title.name || title.title || title.original_title }}
                  <span
                    class="has-text-weight-light is-family-secondary"
                  >({{ type === 'tv' ? title.first_air_date.split("-")[0] : title.release_date.split('-')[0] }})</span>
                </h1>
                <div>
                  <span class="tag is-white is-large has-text-weight-bold">TV-14</span>
                  <span class="genre">
                    <span v-for="genre in title.genres" :key="genre.name">{{ genre.name }}</span>
                  </span>
                  <span class="duration">{{ type === 'tv' ? title.episode_run_time[0] + 'm' : '' }}</span>
                </div>
                <div class="panel-wrapper">
                  <div class="rating">
                    <b-icon icon="star" size="is-small" type="is-warning"></b-icon>
                    <span>{{ title.vote_average.toFixed(1) }}</span>
                  </div>
                  <b-button
                    class="play-trailer-button"
                    type="is-primary"
                    tag="a"
                    size="is-small"
                    icon-pack="fa"
                    icon-left="play"
                    @click="toggleTrailer"
                    v-if="title.trailer"
                  >Play Trailer</b-button>
                </div>
              </div>
              <div class="m-t-10" v-if="type === 'movie'">
                <p class="is-family-monospace">
                  <template v-if="title.tagline">
                    <strong>Tagline:</strong>
                    {{title.tagline}}
                  </template>
                </p>
              </div>

              <div class="overview">
                <h2 class="title is-size-5">Overview</h2>
                <p class="subtitle is-size-5">{{ title.overview }}</p>
              </div>

              <div class="columns people-involved">
                <div class="column" v-for="creator in title.created_by" :key="creator.id">
                  <p class="title is-size-5">{{ creator.name }}</p>
                  <p class="subtitle has-text-weight-light is-size-5">Creator</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <b-modal :active.sync="isVideoModalActive">
        <section class="hero is-black is-large">
          <figure class="image is-16by9">
            <iframe
              class="has-ratio"
              width="640"
              height="360"
              frameborder="0"
              autoplay="1"
              allow="autoplay"
              allowfullscreen
              v-if="Object.keys(title).length && title.trailer"
              :src="
                'https://www.youtube.com/embed/' +
                  title.trailer.key +
                  '?autoplay=1'
              "
              ref="youtubePlayer"
            ></iframe>
          </figure>
        </section>
      </b-modal>
    </section>
    <section class="info">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h3 class="is-size-3 m-b-5">Cast</h3>
            <div class="swiper-container swiper-cast" ref="swipers">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(entity, index) in cast" :key="index">
                  <div class="card is-shadowless is-borderless">
                    <div class="card-image">
                      <a>
                        <img
                          :src="'https://image.tmdb.org/t/p/w185' + entity.profile_path"
                          width="120"
                        />
                      </a>
                    </div>
                    <div class="text-box">
                      <p class="title is-size-5 has-text-white">{{entity.name}}</p>
                      <p class="subtitle is-size-6 has-text-white">{{entity.character}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <section class="seasons m-t-20" v-if="type === 'tv'">
              <h3 class="is-size-3 h3 m-b-5">Last Season</h3>
              <div class="container" v-if="title.seasons">
                <div class="box m-b-10">
                  <div class="media season-box">
                    <div class="media-left">
                      <img
                        class="poster"
                        :alt="title.name"
                        :src="'https://image.tmdb.org/t/p/w130_and_h195_bestv2' + title.lastSeason.poster_path"
                      />
                    </div>
                    <div class="content">
                      <p class="has-text-weight-bold title is-4">{{title.lastSeason.name}}</p>
                      <p
                        class="subtitle is-size-5 has-text-white"
                      >{{title.lastSeason.air_date.split('-')[0]}} | {{title.lastSeason.episode_count}} Episodes</p>
                      <p>Season 1 of {{title.lastSeason.name}} premiered on {{title.lastSeason.air_date}}</p>
                    </div>
                  </div>
                </div>
                <a class="button" @click="seasonsModal = !seasonsModal">View All Seasons</a>
                <b-modal :active.sync="seasonsModal">
                  <div class="hero is-dark">
                    <div class="hero-body">
                      <div class="box" v-for="season in title.seasons" :key="season.season_number">
                        <div class="media season-box" v-if="season.episode_count">
                          <div class="media-left">
                            <img
                              class="poster"
                              :alt="'No image for' + season.name"
                              :src="'https://image.tmdb.org/t/p/w130_and_h195_bestv2' + season.poster_path"
                            />
                          </div>
                          <div class="content">
                            <p class="has-text-weight-bold title is-4">{{season.name}}</p>
                            <p
                              class="subtitle is-size-5 has-text-white"
                            >{{season.air_date ? season.air_date.split('-')[0] + ' |' : ''}} {{season.episode_count}} Episodes</p>
                            <p>Season {{season.name}} of {{title.name}} premiered on {{season.air_date || ''}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-modal>
              </div>
            </section>
          </div>
          <div class="facts column is-one-quarter has-text-dark has-background-light m-t-50">
            <h3 class="is-size-3 m-b-10">Facts</h3>
            <div class="m-b-5">
              <p class="has-text-weight-bold">Status</p>
              <p>{{title.status}}</p>
            </div>
            <div class="m-b-5" v-if="type === 'movie'">
              <p class="has-text-weight-bold">Budget</p>
              <p>{{title.budget ? '$' + title.budget : '-'}}</p>
            </div>
            <div class="m-b-5" v-if="type === 'movie'">
              <p class="has-text-weight-bold">Revenue</p>
              <p>{{title.revenue ? '$' + title.revenue : '-'}}</p>
            </div>
            <div class="m-b-5" v-if="type === 'tv'">
              <p class="has-text-weight-bold">Network</p>
              <template v-for="network in title.networks">
                <img
                  :src="'https://image.tmdb.org/t/p/h30' + network.logo_path"
                  :alt="network.name"
                  :key="network.name"
                />
              </template>
            </div>
            <div class="m-b-5" v-if="type === 'tv'">
              <p class="has-text-weight-bold">Type</p>
              <p>{{title.type}}</p>
            </div>
            <div class="m-b-5">
              <p class="has-text-weight-bold">Original Language</p>
              <p>{{convertISOCodeToLang(title.original_language)}}</p>
            </div>
            <div class="m-b-5" v-if="keywords && keywords.length">
              <p class="has-text-weight-bold m-b-5">Keywords</p>
              <div class="tags">
                <span class="tag" v-for="keyword in keywords" :key="keyword.name">{{keyword.name}}</span>
              </div>
            </div>
          </div>
        </div>

        <section class="images m-t-20" v-if="images">
          <h3 class="is-size-3 m-b-5">Images</h3>
          <b-modal :active.sync="isImageModalActive">
            <figure class="image">
              <img :src="'https://image.tmdb.org/t/p/original' + imagePath" />
            </figure>
          </b-modal>
          <!-- {{console.log('images: ', images)}} -->
          <template v-if="images">
            <div class="swiper-container swiper-images" ref="swipers">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(image, index) in images" :key="index">
                  <b-button
                    tag="a"
                    class="is-paddingless is-radiusless is-shadowless is-borderless"
                    @click="openImageModal(image.file_path)"
                    style="height: 100%;"
                  >
                    <figure class="image">
                      <img :src="'https://image.tmdb.org/t/p/w300' + image.file_path" />
                    </figure>
                  </b-button>
                </div>
              </div>

              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </template>
          <template v-else>
            <p>There are no images available for this title</p>
          </template>
        </section>
        <section class="media-section m-t-20">
          <h3 class="is-size-3 m-b-5">Videos</h3>
          <div class="swiper-container swiper-media" ref="swipers">
            <div class="swiper-wrapper">
              <template v-if="videos.length">
                <div class="swiper-slide" v-for="video in videos" :key="video.key">
                  <div>
                    <iframe
                      width="355"
                      height="200"
                      :src="'https://www.youtube.com/embed/' + video.key + '?showinfo=0'"
                      allowfullscreen
                      style="height: 200px;"
                    ></iframe>
                  </div>
                </div>
              </template>
              <template v-else>
                <p>There are no videos available for this title</p>
              </template>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </section>
      </div>
    </section>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { isoLanguages } from "../plugins/iso-languages.js";

export default {
  data() {
    return {
      type: "",
      videoId: "qrZJuvPqAoE",
      isVideoModalActive: false,
      isImageModalActive: false,
      imagePath: "",
      hasBgImg: {},
      activeTab: 0,
      seasonsModal: false,
      swiperCast: null,
      swiperMedia: null,
      swiperImages: null
    };
  },
  computed: {
    ...mapGetters(window.location.pathname.includes("tv") ? "tv" : "movie", [
      "title",
      "videos",
      "images",
      "cast",
      "keywords"
    ]),
    console: () => console,
    player() {
      return this.$refs.youtubePlayer;
    }
  },
  methods: {
    ...mapActions(window.location.pathname.includes("tv") ? "tv" : "movie", [
      "fetchTitle",
      "fetchVideos",
      "fetchImages",
      "fetchCast",
      "fetchKeywords"
    ]),
    toggleTrailer() {
      this.isVideoModalActive = !this.isVideoModalActive;
    },
    openImageModal(imgPath) {
      this.isImageModalActive = true;
      this.imagePath = imgPath;
    },
    getLastSeason() {},
    convertISOCodeToLang(code) {
      for (let lang in isoLanguages) {
        if (lang === code) {
          return isoLanguages[lang].name;
        }
      }
    }
  },
  watch: {
    title() {
      if (this.type === "tv") {
        this.title.seasons.forEach(season => {
          if (season.episode_count && season.air_date) {
            this.title.lastSeason = season;
          }
        });
      }
    }
  },
  created() {
    if (window.location.pathname.includes("tv")) {
      this.type = "tv";
    } else {
      this.type = "movie";
    }
    this.fetchTitle({ id: this.$route.params.id }).then(() => {
      const backgroundURL =
        'url("https://image.tmdb.org/t/p/original' +
        this.title.backdrop_path +
        `"` +
        ")";

      this.hasBgImg = {
        "background-image":
          "linear-gradient(rgba(10, 10, 10, 0.87), rgba(10, 10, 10, 0.87))," +
          backgroundURL,
        "background-size": "cover",
        "background-position": "center top",
        "background-repeat": "no-repeat"
      };
    });
    this.fetchVideos({ id: this.$route.params.id });
    this.fetchImages({ id: this.$route.params.id });
    this.fetchCast({ id: this.$route.params.id });
    this.fetchKeywords({ id: this.$route.params.id });
  },
  mounted() {
    this.swiperCast = new Swiper(".swiper-cast", {
      slidesPerView: 5,
      spaceBetween: 30,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });

    this.swiperImages = new Swiper(".swiper-images", {
      slidesPerView: 4,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });

    this.swiperMedia = new Swiper(".swiper-media", {
      slidesPerView: 4,
      spaceBetween: 30,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });
  },
  updated() {
    this.swiperCast.update();
    this.swiperImages.update();
    this.swiperMedia.update();
  }
};
</script>

<style lang="scss" scoped>
@import "bulma/sass/utilities/_all";

.overview {
  margin-top: 1.5rem;
}

.people-involved {
  margin-top: 2rem;
}

.genre {
  margin-left: 0.7rem;
  & span:not(:last-child)::after {
    content: ", ";
  }
}

.duration {
  margin-left: 0.5rem;
}

.panel-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
}

.rating {
  font-size: 1.3rem;
  margin-right: 0.8rem;

  span:first-child {
    margin-right: 0.3rem;
  }
}

.play-trailer-button {
  background-color: transparent !important;
  font-weight: bold;
  font-size: 0.9rem !important;
}

.modal-hero {
}

iframe {
  overflow: hidden;
}

.container-info {
  margin-top: 3rem;
}

.facts div {
}

.info {
  margin-top: 2rem;
}

.description {
  
}

.box {
  background-color: transparent;
  padding: 0;
}

.poster {
  border-radius: 3px;
}

.content {
  margin-top: 2.5px;
}

.swiper-container {
  width: 100%;
}

.swiper-cast {
  max-width: 950px;
}

.swiper-slide {
  width: auto !important;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card {
  background: none;
}

.is-borderless {
  border: none;
}

</style>
