<template>
  <div>
    <section class="hero is-fullheight is-bold has-bg-img">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1 has-text-white-ter">NentMovies</h1>
          <h2
            class="subtitle is-size-5 has-text-white-ter"
          >Your goto place for anything movie related</h2>
          <div class="container">
            <b-field class="field">
              <search-bar
                type="search"
                placeholder="Search for movies, tv series, tv shows, etc..."
                size="is-large"
                icon-right-clickable
                icon-right="magnify"
              ></search-bar>
            </b-field>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SearchBar from "@/components/SearchBar.vue";

export default {
  data() {
    return {};
  },
  components: {
    searchBar: SearchBar
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
@import "bulma/sass/utilities/_all";

.has-bg-img {
  background: linear-gradient(rgb($black, 0.6), rgb($black, 0.6)), url('https://cdn.pixabay.com/photo/2020/04/20/18/10/cinema-5069314_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.field {
  width: 40rem;

  @media (max-width: 769px) {
    width: 25rem;
  }
}
</style>
