<template>
  <b-navbar type="is-dark">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <span class="is-size-4">NentMovies</span>
      </b-navbar-item>
    </template>
    <!-- <template slot="start">
      <b-navbar-item position="is-centered">
        
      </b-navbar-item>
    </template>-->
    <!-- <template slot="start">
      <b-navbar-item>
        <b-field position="is-centered">
          <b-input placeholder="Search..." type="search" icon="magnify"></b-input>
          <p class="control">
            <button class="button is-info">Search</button>
          </p>
        </b-field>
      </b-navbar-item>
    </template>-->
    <template slot="end"></template>
  </b-navbar>
</template>

<script>
export default {};
</script>

<style></style>
