<template>
  <b-input
    v-bind="$attrs"
    v-on="$listeners"
    @keyup.enter.native="enter"
  ></b-input>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["searchResults"]),
  },
  methods: {
    ...mapActions(["fetchSearchResults"]),
    enter(e) {
      this.$router.push({ path: "search", query: { q: e.target.value } });
    },
  },
  created() {
    if (typeof this.$route.query.q !== undefined && this.$route.query.q) {
      this.fetchSearchResults({ type: "multi", query: this.$route.query.q });
    }
  },
  watch: {
    $route(to, from) {
      if (typeof to.query.q !== undefined && to.query.q) {
        this.fetchSearchResults({ type: "multi", query: to.query.q });
      }
    },
  },
};
</script>

<style></style>
